<div class="account-info-area">
  <div class="account-info-hdr">FREE ACCOUNT</div>
  <ul>
    <li>Unlimited Audits</li>
    <li>Test site accessibility against standard guidelines</li>
    <li>Retain a history of your audits</li>
  </ul>
</div>
<div class="account-info-area">
  <div class="account-info-hdr">Subscribe (Coming Soon)</div>
  <ul>
    <li>Unlimited Audits of your entire site</li>
    <li>Full history of your audit results</li>
    <li>Use projects to group and manage audits</li>
    <li>Schedule the running of Audits</li>
  </ul>
</div>
<div class="account-info-area">
  <div class="account-info-hdr">UPGRADE TO COMPLIANCE SHERIFF</div>
  <ul>
    <li>Unlimited Audits</li>
    <li>Full history of your audit results</li>
    <li>Use projects to group and manage audits</li>
    <li>Audit sites with login authentication</li>
    <li>Identify issue trends over time</li>
    <li>Monitor site maintenance</li>
  </ul>
</div>
