@import "main";

.scan-group-container {
  padding-left: 2rem;
  display: flex;
  align-self: center;
  height: 3rem;
  margin: 0.5rem 0;
}
.scan-group-label {
  display: inline-block;
  width: 15rem;
  font-family: "Lato-Bold", sans-serif;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.scan-group {
  height: 100%;
  font-size: 1.4rem;
  width: 25rem;
  border: 1.5px solid $color-darker-grey;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  font-family: "Lato-Bold", sans-serif;
  align-self: center;
}
