@import "main-cinv";

:host {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto auto auto auto 1fr;
  padding: 4rem;
  h1 {
    color: $color-purple;
    padding-bottom: 1rem;
  }
  p {
    color: $color-green;
    font-size: 1.5rem;
  }
  a {
    background-color: $color-light-blue;
    color: $color-white;
    border-radius: 1.3em;
    padding-top: 0.7rem;
    padding-right: 1.25rem;
    padding-bottom: 0.7rem;
    padding-left: 2.25rem;
    text-decoration: none;
    background-image: url("../../assets/images/arrow_left.svg");
    background-repeat: no-repeat;
    background-size: 2.4rem;
    background-position-x: 0.85rem;
    background-position-y: 50%;
    width: 10rem;
    text-align: center;
  }
}
