<h1>Compliance Investigate - Accessibility Statement</h1>
<p>
  Compliance Sheriff strives to maintain a fully accessible Compliance
  Investigate site as described in Section 508 of the Rehabilitation Act
  Amendments of 1998 and the Web Content Accessibility Guidelines. Section 508
  of the Rehabilitation Act Amendments mandates that federal agencies must
  ensure that all electronic and information technology purchased, maintained,
  or developed meets the accessibility standards established by the U.S. Access
  Board. Additionally, the Compliance Investigate supports relevant WCAG 2.1
  Level AA checkpoints that we deem important to the successful use of our page
  to persons with or without disabilities.
</p>
<p>
  Compliance Sheriff is not a federal agency, nor is the Company required by law
  to comply with Section 508 or WCAG 2.0. Compliance Sheriff maintains
  accessibility as a courtesy to site visitors and as a way of making the
  general site navigation and usability easier. If a page cannot be made
  accessible Compliance Sheriff will work to make a text version available. If
  you have any questions regarding the accessibility of the Compliance
  Investigate, please contact info@compliancesheriff.com.
</p>
