<div id="main-content" class="main-container">
  <h1 id="page-title" class="heading">
    About the Compliance Sheriff<span class="sup">&reg;</span> Cynthia Says<span
      class="sup"
      >&trade;</span
    >
  </h1>
  <p>
    The Cynthia Says<span class="sup">&trade;</span> Portal is a joint education
    and outreach project of Compliance Sheriff<span class="sup">&reg;</span>,
    ICDRI, and the Internet Society Disability and Special Needs Chapter. The
    portal educates users in the concepts behind Web site accessibility. The
    simple, well-designed interface puts the ability to design accessibility
    compliant code within the reach of all users, even those with little or no
    knowledge of Web design. Cynthia Says<span class="sup">&trade;</span>
    provides users with feedback on the accessibility of a web page in a
    reporting format that is clear and easy to understand.
  </p>
  <p>
    Accessibility issues are detected within websites from Web-based
    applications, dynamic pages, or static HTML pages. Upon submitting a page
    for review, users are provided with a real-time report that shows the
    “accessibility status” of the page tested. Cynthia Says<span class="sup"
      >&trade;</span
    >
    utilizes Compliance Sheriff<span class="sup">&reg;</span> as the underlying
    technology by which the contents of the specified web page is downloaded
    from the internet, upon which actual accessibility verification is
    performed, and a report generated. The output is returned immediately to the
    user's browser.
  </p>
  <p>
    Cynthia Says tests your page against predefined checkpoint groups to
    validate it against the US Access Board’s Section 508 or the W3C’s WCAG 2.0
    A-AAA Accessibility Guidelines. Please remember that in addition to these
    automated checks there are additional checks that must be manually performed
    to fully validate the page’s accessibility. These manual tests are listed in
    your report.
  </p>
  <ul>
    <li>
      <a href="http://www.w3.org/TR/WCAG20/" target="_blank"
        >W3C WCAG 2.0 Guidelines</a
      >
    </li>
    <li>
      <a href="http://www.access-board.gov/508.htm" target="_blank"
        >Section 508 Standards</a
      >
    </li>
    <li>
      <a
        href="http://www.compliancesheriff.com/resources/four-key-issues"
        target="_blank"
        >Community links and resources on the topic of Accessibility</a
      >
    </li>
  </ul>

  <h2 class="heading">The Cynthia Says™ Technology</h2>
  <p>
    The Cynthia Says Validation and Reporting Technology is developed with the
    Web Test interface of Compliance Sheriff<span class="sup">&reg;</span>. This
    same technology is available for commercial use to automatically monitor,
    test and report on the accessibility of entire websites. Compliance Sheriff
    gives organizations an easy, cost-effective way to integrate a comprehensive
    and automated solution for managing content compliance against Web
    Governance standards as part of their Risk Management strategy. It enables
    organizations to easily validate their websites, intranets, document
    libraries, email, and social and collaborative media content for compliance
    against standards-based and custom organizational policies for
    accessibility, in addition to privacy, brand integrity, site quality and
    information security. Unlike other solutions, it also allows users to easily
    define and conduct custom tests for an organization's own unique policies
    without any costly consulting and or programming. With Compliance Sheriff
    organizations can successfully develop and maintain compliant content that
    meets the highest standards in Web Governance. To learn more please visit
    <a href="https://www.compliancesheriff.com" target="_blank"
      >http://www.compliancesheriff.com</a
    >.
  </p>

  <h2 class="heading">About ICDRI</h2>
  <p>
    Founded in 1998, The International Center for Disability Resources on the
    Internet (ICDRI) is a non-profit center based in the United States and
    designated as a 501 (c)(3) entity.
  </p>
  <p>
    Our overarching vision is the equalization of opportunities for persons with
    disabilities. As an internationally recognized public policy center
    organized by and for people with disabilities, ICDRI seeks to increase
    opportunities for people with disabilities by identifying barriers to
    participation in society and promoting best practices and universal design
    for the global community.
  </p>
  <p>
    ICDRI’s mission includes the collection of a knowledge base of quality
    disability resources and best practices and to provide education, outreach
    and training based on these core resources. ICDRI makes this information
    available in an accessible format through their web site at
    <a href="http://www.icdri.org" target="_blank">http://www.icdri.org</a>.
  </p>

  <h2 class="heading">
    About Internet Society Disability and Special Needs Chapter
  </h2>
  <p>
    This is the first chapter in the Internet Society that is not a
    geographically based chapter. It is dedicated to addressing the needs of
    people with special needs that are related to the Internet and its attendant
    technologies. The chapter brings together the experts and leaders of the
    sector presenting the most up to date knowledge and technologies to
    eliminate barriers and increase the number of users/clients of a "Website".
    As a web content accessibility interest group, the conveners of this chapter
    aim to make the Internet and its attendant technologies accessible to the
    largest audience possible regardless of disabilities. More information about
    the chapter is available at:<a
      href="http://www.isocdisab.org/about.htm"
      target="_blank"
      >http://www.isocdisab.org/about.htm</a
    >
  </p>

  <h2 class="heading">
    About Compliance Sheriff<span class="sup">&reg;</span>
  </h2>
  <p>
    Compliance Sheriff<span class="sup">&reg;</span> an AppGate solution, allows
    you to make your web products accessible. AppGate delivers web accessibility
    software and a comprehensive framework for web accessibility built upon
    extensive research and decades of global industry experience to develop a
    practical and robust accessibility model. Our customers have leveraged
    Compliance Sheriff to shape customers accessibility policies and practices.
    For more information, visit
    <a href="https://www.compliancesheriff.com" target="_blank"
      >https://www.compliancesheriff.com</a
    >
    or follow us on
    <a href="http://www.twitter.com/CompliSheriff" target="_blank">Twitter &#64;CompliSheriff </a>.
  </p>
</div>
