$color-gray: #f2f2f2;
$color-green: #4d8257;
$color-light-blue: #3077cc;
$color-purple: #7a3d83;
$color-pink: #c82ec1;
$color-navy: #1d2e47;
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
