<footer role="contentinfo" class="footer" data-automation="footer">
  <span class="footer__version">Version</span>
  <span id="footerVersionNumber" class="footer__version-number">6.5.0.2</span>
  <ul class="footer__list">
    <li>
      <a
        class="footer__link"
        href="https://www.appgate.com/legal/cybersecurity-terms-and-conditions"
        target="_blank"
        aria-label="Appgate legal - new window"
        data-automation="legal-docs"
        >Legal</a
      >
    </li>
    <li class="footer__separator">|</li>
    <li>
      <a
        class="footer__link"
        href="https://www.appgate.com/legal/privacy-policy"
        target="_blank"
        aria-label="Appgate privacy policy - new window"
        data-automation="privacy-policy"
        >Privacy</a
      >
    </li>
    <li class="footer__separator">|</li>
    <li>
      <a
        class="footer__link"
        href="https://www.compliancesheriff.com/"
        target="_blank"
        aria-label="Compliance Sheriff website - new window"
        data-automation="compliance-sheriff-public"
        >Compliance Sheriff</a
      >
    </li>
  </ul>
  <span class="footer__copyright">© 2020 AppGate. All rights reserved.</span>
</footer>
