<form [formGroup]="passwordResetForm" (submit)="onSubmit()">
  <h2>Reset Your Password</h2>
  <label class="email-label" for="userName">Email</label>
  <input
    class="email-frm-input"
    type="text"
    id="userName"
    data-automation="input-email"
    formControlName="userName"
  />
  <div class="email-errors">
    <div
      class="error-message"
      *ngIf="
        f.userName.invalid &&
        (f.userName.touched || (isSubmitted && f.userName.pristine))
      "
    >
      <small
        *ngIf="f.userName.errors.required"
        data-automation="error-input-email-required"
        >Email address is Required</small
      >
      <small
        *ngIf="f.userName.errors.pattern"
        data-automation="error-input-email-pattern"
        >Please provide valid Email Address</small
      >
    </div>
  </div>

  <label class="temp-password-label" for="tempPassword"
    >Temporary Password</label
  >
  <input
    class="temp-password-frm-input"
    type="password"
    id="tempPassword"
    data-automation="input-temp-password"
    formControlName="tempPassword"
  />
  <div class="temp-password-errors">
    <div
      class="error-message"
      *ngIf="
        (f.tempPassword.invalid && f.tempPassword.touched) ||
        (isSubmitted && f.tempPassword.pristine)
      "
    >
      <small
        *ngIf="f.tempPassword.errors.required"
        data-automation="error-input-password-required"
        >Temporary Password is Required</small
      >
    </div>
  </div>

  <label class="new-password-label" for="newPassword">New Password</label>
  <input
    class="new-password-frm-input"
    type="password"
    id="newPassword"
    data-automation="input-new-password"
    formControlName="newPassword"
  />
  <div class="new-password-errors">
    <div
      class="error-message"
      *ngIf="
        (f.newPassword.invalid && f.newPassword.touched) ||
        (isSubmitted && f.newPassword.pristine)
      "
    >
      <small
        *ngIf="f.newPassword.errors.required"
        data-automation="error-input-new-password-required"
        >Password is Required</small
      >
      <small
        *ngIf="f.newPassword.errors.pattern"
        data-automation="error-input-new-password-pattern-invalid"
        >Password minimum length is 8 and should include uppercase, lowercase,
        and one special character</small
      >
    </div>
  </div>

  <label class="confirm-new-password-label" for="confirmNewPassword"
    >Confirm New Password</label
  >
  <input
    class="confirm-new-password-frm-input"
    type="password"
    id="confirmNewPassword"
    data-automation="input-confirm-new-password"
    formControlName="confirmNewPassword"
  />
  <div
    class="confirm-new-password-errors"
    *ngIf="
      (f.confirmNewPassword.invalid && f.confirmNewPassword.touched) ||
      (isSubmitted && f.confirmNewPassword.pristine)
    "
  >
    <div class="error-message">
      <small
        *ngIf="f.confirmNewPassword.errors.required"
        data-automation="error-input-confirm-new-password-required"
        >Confirm Password is Required</small
      >
    </div>
  </div>
  <div
    class="passwords-do-not-match"
    *ngIf="passwordResetForm.hasError('passwordMatchError')"
  >
    <div class="error-message">
      <small data-automation="error-input-passwords-do-not-match"
        >New Password and Confirm Password do not match</small
      >
    </div>
  </div>
  <div class="error-message">
    <small data-automation="server-error-response">{{ userMessage }}</small>
  </div>
  <button
    class="reset-password-button"
    data-automation="button-submit"
    type="submit"
  >
    Reset Password
  </button>
  <a routerLink="/landing" data-automation="link-landing"
    >Don’t have an account? Get one here.</a
  >
</form>
