@import "main-cinv";

:host {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;

  form {
    @extend %form-cinv;
    display: grid;
    grid-gap: 0.25rem;
    grid-template:
      " form-header                form-header                    "
      " email-label                email-frm-input                "
      " .                          email-errors                   "
      " temp-password-label        temp-password-frm-input        "
      " .                          temp-password-errors           "
      " new-password-label         new-password-frm-input         "
      " .                          new-password-errors            "
      " confirm-new-password-label confirm-new-password-frm-input "
      " .                          confirm-new-password-errors    "
      " .                          passwords-do-not-match         "
      " .                          error-message                  "
      " .                          reset-password-button          "
      " .                          landing-link                   "
      / auto auto;

    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-left: 2rem;

    h2 {
      grid-area: form-header;
    }

    label {
      padding-right: 1rem;
      justify-self: end;
      align-self: center;
    }

    .email-label {
      grid-area: email-label;
    }
    .temp-password-label {
      grid-area: temp-password-label;
    }
    .new-password-label {
      grid-area: new-password-label;
    }
    .confirm-new-password-label {
      grid-area: confirm-new-password-label;
    }

    .passwords-do-not-match {
      grid-area: passwords-do-not-match;
    }

    %frm-input {
      height: 2rem;
      min-width: 22rem;
      font-weight: 500;
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    .email-frm-input {
      grid-area: email-frm-input;
      @extend %frm-input;
    }
    .temp-password-frm-input {
      grid-area: temp-password-frm-input;
      @extend %frm-input;
    }
    .new-password-frm-input {
      grid-area: new-password-frm-input;
      @extend %frm-input;
    }
    .confirm-new-password-frm-input {
      grid-area: confirm-new-password-frm-input;
      @extend %frm-input;
    }

    .error-message {
      grid-area: error-message;
      display: inline-block;
      justify-self: center;
      align-self: center;
    }
    .email-errors {
      grid-area: email-errors;
    }
    .temp-password-errors {
      grid-area: temp-password-errors;
    }

    .new-password-errors {
      grid-area: new-password-errors;
    }

    .confirm-new-password-errors {
      grid-area: confirm-new-password-errors;
    }

    .reset-password-button {
      grid-area: reset-password-button;
      height: 30px;
      min-width: 175px;
      justify-self: center;
      margin-top: 2rem;
      margin-bottom: 0.25rem;
    }

    a {
      grid-area: landing-link;
      justify-self: center;
      font-size: 0.7rem;
    }
  }
}
