<div id="pagefooter">
  <div id="pagefooter-links" class="footer-container">
    <ul id="nav-footer" class="footer-links-list">
      <li class="link-wrapper">
        <a class="footer-link">Contact Us</a>
      </li>
      <li class="link-separator">|</li>
      <li class="link-wrapper">
        <a class="footer-link">Accessibility</a>
      </li>
      <li class="link-separator">|</li>
      <li class="link-wrapper">
        <a class="footer-link">Privacy Policy</a>
      </li>
      <li class="link-separator">|</li>
      <li class="link-wrapper">
        <a class="footer-link">Legal</a>
      </li>
    </ul>
    <div id="copyright">
      © 2019 Cryptzone North America, Inc., a Cyxtera business. All rights
      reserved.
    </div>
  </div>
</div>
