<div class="main">
  <h1>Audit for accessibility issues in 5 minutes or less</h1>
  <!-- <p class="welcome-sub-text">a nifty tag line about accessibility goes here</p> -->
  <div class="benefits">
    <h2>Create a free account to ...</h2>
    <ul>
      <li>
        <img
          src="./assets/images/solutions-image-learn.svg"
          alt="Audiit History"
        /><span>Test 25 pages at a time by crawling your website</span>
      </li>
      <li>
        <img
          src="./assets/images/product-image-risk.svg"
          alt="inspection icon"
        /><span>Audit against industry standards including WCAG 2.1 and Section 508</span>
      </li>
      <li>
        <img
          src="./assets/images/image-solutions-hero.svg"
          alt="Proven techniques"
        /><span>Use advanced reporting to help identify and troubleshoot issues</span>
      </li>
    </ul>
  </div>
  <cinv-audit-info class="audit-info"></cinv-audit-info>
</div>
<div class="offerings">
  <cinv-offerings></cinv-offerings>
</div>
