@import "src/styles/abstracts/variables";

.sr-skip {
  position: absolute;
  text-align: center;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.logo-container {
  display: flex;
  padding: 1rem 2rem 1rem 1.5rem;
}

.logo-wrapper {
  position: relative;
}

.logo-img {
  background: no-repeat left/100% url(../../assets/CynthiaSays.svg);
  width: 20rem;
  height: 8rem;
  display: block;
}

.heading-wrapper {
  width: 100%;
  margin: auto;
  padding: 0 3rem;
}

.heading {
  font-size: 3rem;
  font-weight: 500;
  color: $color-navy-blue;
}

.nav-container {
  padding: 0 2rem;
}

.nav-menu {
  display: flex;
  padding: 1rem 0;
  list-style: none;
}

.nav-item {
  margin-right: 4rem;
}

.nav-item-link {
  text-transform: uppercase;

  &:hover > span, &:focus > span {
    color: $color-navy-blue;
  }
}

.nav-text {
  font-family: "Lato-Bold", sans-serif;
  font-size: 1.8rem;
  color: $color-primary-blue;
}
