<header>
  <a fragment="main-content" class="sr-skip">
    Skip to content
  </a>
  <div class="logo-container">
    <div>
      <svg
        class="logo-img"
        role="img"
        aria-label="Compliance Sheriff By AppGate. Navigate to Home"
      ></svg>
    </div>
    <div class="heading-wrapper">
      <h1 class="heading">Welcome to <i style="color:inherit;">Cynthia Says</i> by Compliance Sheriff</h1>
    </div>
  </div>
  <nav class="nav-container">
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-item-link" [routerLink]="['']"
          ><span class="nav-text">Audit Site</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-item-link" [routerLink]="['LearnMore']"
          ><span class="nav-text">Learn More</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-item-link" [routerLink]="['About']"
          ><span class="nav-text">About Cynthia Says</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-item-link" [routerLink]="['TermsOfUse']"
          ><span class="nav-text">Terms of Use</span></a
        >
      </li>
    </ul>
  </nav>
</header>
