<div id="main-content" class="main-container">
  <h1 id="page-title" class="heading">
    Compliance Sheriff<span class="sup">&reg;</span> Cynthia Says<span
      class="sup"
      >&trade;</span
    >
    Portal - Terms of Use
  </h1>

  <h2 class="heading">In General</h2>
  <p>
    Your use of the Cynthia Says<span class="sup">&trade;</span>Portal website
    (the "Site"), and all information, products and services on the Site,
    including our world-class educational solution "CynthiaSays™", and all
    documentation are subject to the binding legal terms set forth below
    ("Terms"). We may update these Terms from time to time without giving you
    any notice. Unless we let you know by giving you a notice, any new features
    or updated Services that we put on the Site will be subject to these Terms.
    BY USING THE SERVICES, YOU AGREE TO EACH OF THE TERMS SET FORTH BELOW. IF
    YOU DO NOT AGREE WITH ANY TERM OR CONDITION SET FORTH BELOW, YOU ARE NOT
    AUTHORIZED TO USE THE SERVICES FOR ANY PURPOSE.
  </p>
  <p>
    The Site contains links to websites, Web pages and services that are also
    operated by Compliance Sheriff<span class="sup">&reg;</span>, our
    subsidiaries or other companies not affiliated with us but provided as a
    resource. Your use of any other site is subject to their specific terms of
    use. If there is any conflict between the Terms set forth below and any of
    the terms or notices set forth on any other Site, then the terms on this
    Site will control your use of this Site. Please review the terms of use for
    this Site so that you understand all of the terms that will apply.
  </p>
  <p>
    Compliance Sheriff<span class="sup">&reg;</span> is pleased to give you
    access to this Site free of charge. However, in order to access the Site,
    you will need to establish an account with an Internet service provider. You
    will also need equipment to access the Site, including a computer, modem or
    other communication device. You agree to pay for all hardware and services
    costs needed to access the Site and use the Services. Complpiance Sheriff is
    not responsible for any of these costs.
  </p>

  <ul class="links">
    <li><a href="#paragraph1">How You Can Use the Services</a></li>
    <li><a href="#paragraph2">Permitted Use of the Service</a></li>
    <li><a href="#paragraph3">No License Granted</a></li>
    <li><a href="#paragraph4">Disclaimer of Warranties</a></li>
    <li><a href="#paragraph5">Limitation of Liability</a></li>
    <li><a href="#paragraph6">Access Restrictions and Termination</a></li>
    <li>
      <a href="#paragraph7"
        >Use of Static Screen Shots for Noncommercial Purposes</a
      >
    </li>
  </ul>

  <div class="paragraphBreak"></div>

  <div id="paragraph1">
    <h2 class="heading">How You Can Use the Services</h2>
    <p>
      The Services are protected by U.S. and international copyright, patent,
      trademarks laws and other intellectual property laws.
    </p>
    <p>
      You may use the Services on the Site for
      <strong class="underline"
        ><em>your personal, non-commercial use</em></strong
      >. You are allowed 10 tests/scans per domain per 24 hour period. You may
      make a single copy of the individual screens you see when you use the
      Services, but only for your personal use. You cannot distribute or
      transfer the copies to others in exchange for money or other
      consideration. You may not-and agree not to-modify, reformat, copy,
      display, distribute, transmit, publish, license, create derivative works
      from, transfer or sell any information, products or services obtained from
      the Services, except as set forth below. This means that you may not
      mirror the home page or results pages of the Site on your own Web site or
      Web page without the express written permission of Compliance Sheriff.
    </p>
    <p>
      If you want to make commercial use of Compliance Sheriff, the technology
      behind the Cynthia Says portal, please visit the Compliance Sheriff
      website to inquire about appropriate licensing.
      <a href="https://www.compliancesheriff.com" target="_blank"
        >https://www.compliancesheriff.com</a
      >
    </p>
  </div>

  <div class="paragraphBreak"></div>

  <div id="paragraph2">
    <h2 class="heading">Permitted Use of the Service</h2>
    <p>
      You are permitted to use the SITE services as listed in these terms. You
      ARE EXPRESSLY forbidden to use the site in the following ways:
    </p>
    <ol>
      <li>
        You are not allowed to automate the use of this service for desktop, web
        services, any current or future developed technology. This service must
        be used via this site. Users are allowed to test one page URL at a time
        and up to 10 pages per day.
      </li>
      <li>
        The Cynthia Says portal is an Educational Service and a Trial Service
        for the driving Compliance Sheriff technology.
        <span class="underline"
          >Any commercial use is expressly forbidden.</span
        >
      </li>
    </ol>
  </div>

  <div class="paragraphBreak"></div>

  <div id="paragraph3">
    <h2 class="heading">No License Granted</h2>
    <p>
      Except for allowing you to use the Site for your personal, non-commercial
      use as set forth in the paragraph above, when you use the Site or the
      Sites, you are not receiving a license or any other rights from us,
      including intellectual property or other proprietary rights of Compliance
      Sheriff, ICDRI, and the Internet Society Disability and Special Needs
      Chapter or other companies with which we are affiliated. YOU UNDERSTAND
      THAT YOU HAVE NO RIGHTS TO THE SERVICES OR ANY OTHER Compliance Sheriff,
      ICDRI, and the Internet Society Disability and Special Needs Chapter
      PROPERTY EXCEPT AS WE INDICATE IN THESE TERMS.
    </p>
  </div>

  <div class="paragraphBreak"></div>

  <div id="paragraph4">
    <h2 class="heading">Disclaimer of Warranties</h2>
    <p>
      ANALYSIS RESULTS: THE GUIDELINES AND STANDARDS CHANGE CONSTANTLY AND NO
      AUTOMATED VALIDATION CAN COMPLETELY VALIDATE CONTENT FOR ACCESSIBILITY
      WITHOUT ASSOCIATED HUMAN REVIEW. AS A RESULT, WE DO NOT AND CANNOT
      GUARANTEE THAT YOUR RESULTS WILL BE COMPLETE OR ACCURATE UNLESS YOU FULLY
      REVIEW THEM AND YOU ALSO PERFORM THE ASSOCIATED MANUAL QUALITY CHECKS. YOU
      UNDERSTAND THAT YOUR USE OF THE SERVICES (INCLUDING ANY DOWNLOAD FROM THE
      SERVICES AND ANY LOSS OF DATA OR OTHER DAMAGE TO YOUR COMPUTER SYSTEM YOU
      EXPERIENCE FROM USING THE SERVICES) IS AT YOUR SOLE RISK. YOU UNDERSTAND
      THAT THE SERVICES, ALL INFORMATION, PRODUCTS AND OTHER CONTENT (INCLUDING
      THIRD PARTY INFORMATION, PRODUCTS AND CONTENT) INCLUDED IN OR ACCESSIBLE
      FROM THE SITE, ARE PROVIDED ON AN "AS IS" "WHERE-IS" AND "WHERE AVAILABLE"
      BASIS, AND ARE SUBJECT TO CHANGE AT ANY TIME WITHOUT NOTICE TO YOU. YOU
      ACKNOWLEDGE THAT WE MAKE NO WARRANTY THAT THE SERVICES WILL BE
      UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE. YOU UNDERSTAND THAT WE DO NOT
      WARRANT THAT THE RESULTS OBTAINED FROM YOUR USE OF THE SERVICES WILL MEET
      YOUR EXPECTATIONS, ACCESS TO THE WEB SITE OR UNAVAILABILITY DUE TO
      MAINTENANCE OR UPGRADE PROCEDURES. NO WARRANTY OF ANY KIND, WHETHER ORAL
      OR WRITTEN, CAN MODIFY THE TERMS OF THE DISCLAIMER SET FORTH IN THIS
      DOCUMENT.
    </p>
    <p>
      TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL REPRESENTATIONS,
      WARRANTIES AND CONDITIONS OF ANY KIND (EXPRESS, IMPLIED, STATUTORY OR
      OTHERWISE, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      DURABILITY AND FITNESS FOR A PARTICULAR PURPOSE, QUALITY, SATISFACTORY
      QUALITY, TITLE AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS) INCLUDING
      WITHOUT LIMITATION, IN REFERENCE TO THE SERVICES, AND ALL INFORMATION,
      PRODUCTS AND OTHER CONTENT (INCLUDING THIRD PARTY INFORMATION, PRODUCTS
      AND CONTENT) INCLUDED IN OR ACCESSIBLE FROM THE SITE.
    </p>
    <p>
      WE EXPRESSLY DISCLAIM ANY ENDORSEMENT, RECOMMENDATION, GUARANTEE,
      REPRESENTATION, WARRANTY OR CONDITION (WHETHER EXPRESS, IMPLIED, STATUTORY
      OR OTHERWISE) IN RESPECT OF, OR RESPONSIBILITY FOR ANY ACTION OR INACTION
      OF ANY PARTY INCLUDING WITHOUT LIMITATION ADVERTISERS, PARTNERS,
      PARTICIPATING MERCHANTS, MANUFACTURERS OR SUPPLIERS OR ANY PRODUCTS OR
      SERVICES SUPPLIED BY SUCH PARTIES.
    </p>
  </div>

  <div class="paragraphBreak"></div>

  <div id="paragraph5">
    <h2 class="heading">Limitation of Liability</h2>
    <p>
      TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL WE OR
      ANY OF THE COMPANIES WE ARE AFFILIATED WITH, OR ANY OF OUR CONTENT
      PROVIDERS BE LIABLE TO YOU (OR ANY THIRD PARTY MAKING CLAIMS THROUGH YOU)
      FOR ANY LOSS OR DAMAGES WHATSOEVER, INCLUDING BUT NOT LIMITED TO ANY
      DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, PUNITIVE OR INCIDENTAL DAMAGES,
      OR DAMAGES FOR LOSS OF USE, PROFITS, DATA OR OTHER INTANGIBLES, OR THE
      COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, UNAUTHORIZED ACCESS
      TO AND TAMPERING WITH YOUR PERSONAL INFORMATION OR TRANSMISSIONS, ARISING
      OUT OF OR RELATED TO THE USE, INABILITY TO USE, UNAUTHORIZED USE,
      PERFORMANCE OR NON-PERFORMANCE OF THE SITE, THE SERVICES, ANY
      COMPUTER-RELATED DAMAGES DUE TO DOWNLOADING MATERIALS, TYPOGRAPHICAL
      ERRORS AND/OR OMISSIONS. SOME STATES DO NOT ALLOW THE LIMITATION OR
      EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES; THEREFORE
      THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
    </p>
    <p>
      THE LIMITATIONS OF LIABILITY AND DISCLAIMERS HEREIN SHALL APPLY REGARDLESS
      OF THE FORM OF ACTION, WHETHER IN CONTRACT, WARRANTY, STRICT LIABILITY,
      NEGLIGENCE, OR OTHER TORT AND SHALL SURVIVE A FUNDAMENTAL BREACH OR
      BREACHES OF CONTRACT OR THE FAILURE OF THE ESSENTIAL PURPOSE OF THIS
      AGREEMENT OR OF AN EXCLUSIVE REMEDY.
    </p>
    <p>
      WE ARE NOT responsible for the accuracy of associated companies'
      information including any changes in or discontinuance of services and/or
      products, nor any intellectual property infringement made by any party. WE
      ARE NOT responsible for changes in the services and/or products offered by
      affiliated companies.
    </p>
  </div>

  <div class="paragraphBreak"></div>

  <div id="paragraph6">
    <h2 class="heading">Access Restrictions and Termination</h2>
    <p>
      We can terminate your access to the Site at any time. We can also change
      these Terms at any time, without notice, and your continued use of the
      Services after any change we make will mean that you agreed with the
      changes. IN THE EVENT THAT YOU DO NOT AGREE TO ANY CHANGE, PLEASE DO NOT
      ACCESS OR USE THE SERVICES IN ANY MANNER FOR ANY PURPOSE.
    </p>
  </div>

  <div class="paragraphBreak"></div>

  <div id="paragraph7">
    <h2 class="heading">
      Use of Static Screen Shots for Noncommercial Purposes
    </h2>
    <p>
      You may use our screen shots for noncommercial purposes. You may ask about
      using static screen shots of our Site for commercial purposes by
      contacting
      <a href="mailto:cynthiasays@compliancesheriff.com "
        >cynthiasays@compliancesheriff.com</a
      >
    </p>
  </div>

  <div class="paragraphBreak"></div>
  <div class="paragraphBreak"></div>

  <div>
    <h2 class="heading">
      You can direct any questions concerning these Terms to:
    </h2>
    <p>
      Compliance Sheriff<span class="sup">&reg;</span> - Cynthia Says<span
        class="sup"
        >&trade;</span
      >
      Portal - Terms of Use
      <br />
      Compliance Sheriff Inc.<br />
      One Tara Boulevard, Suite 104<br />
      Nashua, NH 03062
      <br />
      Attention: Legal Department
      <br />
      Email:
      <a href="mailto:cynthiasays@compliancesheriff.com "
        >cynthiasays@compliancesheriff.com</a
      >
    </p>
  </div>
</div>
