<div class="links">
  <a
    href="mailto:info@compliancesheriff.com?subject=Compliance Investigate Inquiry&body=I would like more information about: "
    class="spacer"
    data-automation="contact-us"
    >Contact Us</a
  >
  <a routerLink="/accessibility" 
    target="_blank"
    class="spacer" 
    data-automation="accessibility"
    >Accessibility</a
  >
  <a
    href="https://www.appgate.com/legal/privacy-policy"
    target="_blank"
    class="spacer"
    data-automation="privacy-policy"
    >Privacy Policy</a
  >
  <a
    href="https://www.appgate.com/legal/terms-of-use"
    target="_blank"
    class="spacer"
    data-automation="terms-of-use"
    >Terms of Use</a
  >
  <a
    href="https://www.appgate.com/legal/cookie-policy"
    target="_blank"
    data-automation="cookie-policy"
    >Cookie Policy</a
  >
</div>
<div class="copyright">&#169;2020 Appgate. All rights reserved.</div>
