$color-navy-blue: #26324e;
$color-primary-blue: #2c6094;
$color-dark-green: #338800;
$color-red: #ff0000;
$color-red-orange: #ca4b0c;
$color-pastel-grey: #ededf4;
$color-light-grey: #e6e6e9;
$color-grey: #dddde8;
$color-medium-grey: #d0d0d2;
$color-dark-grey: #d0d0da;
$color-darker-grey: #a1a1a4;
$color-white: #fff;
$color-cornflower-blue: #4d90fe;
$color-translucent-white: rgba(255, 255, 255, .9);
$color-white-medium: rgba(255, 255, 255, .9);
$color-white-light: rgba(255, 255, 255, .6);
$color-grey-dark: #676767;
$color-grey-medium: #979797;
$color-black: #000;
$color-translucent-black: rgba(0,0,0,0.5);
$color-yellow-orange: #ffb337;
$color-peach: #ffa476;
